body
{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 30px;
width: 100%;
margin: 0px;
color: yellow;
font-weight: 600;
}
.btn
{
    width: 150px;
}